body{
    font-family: tahomma, arial, sans-serif;
    margin: 0;
    padding: 0;
}

#principal{
    width: 1024px;
    margin: 20px auto;
}

.logo {
    margin: 18px 0px 0 135px;
}

.top{
    background-color: rgb(3, 34, 48);
    height: 70px;
    position: relative;
}

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.header-nav ul{
    margin: 0;
    padding: 0;
}


.header-nav li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin: 0 15px 0 0;
    padding: 13px;
}

.header-nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    letter-spacing: 5px;
}

.header-nav li:hover{
    background: rgba(231, 33, 33, 0.2);

}

.art-center{
    padding: 50px 100px;
    text-align: center;    
}

.art-center h1{
    font-size: 36px;
    color: #252525;
}

.art-center p{
    font-size: 16px;
    line-height: 2;
    color: #555;
}

.content-section{
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    overflow: auto;
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
}
.card-1, .card-2{
    margin-right: 2%;
}
.card img {
   width: 100%; 
    display: block;
}
.card p{
    background-color: #393535;
    color: white;
    margin: 0;
    padding: 15px;
}

.card a{
    display: block;
    color: white;
    text-decoration: none;
}

.card-1 p:hover {
    background: rgba(231, 178, 4, 0.8);
    text-transform: uppercase;
    font-size: 18px;
}

.card-2 p:hover {
    background: rgba(218, 2, 207, 0.8);
    text-transform: uppercase;
    font-size: 18px;
}

.card-3 p:hover {
    background: rgba(255, 251, 14, 0.8);
    text-transform: uppercase;
    font-size: 18px;
}

.about{
    margin-top: 50px;
    background-color: #003d52;
    padding: 100px;
    color: white;
    background-image: url(../imagens/bg_detalhe.png);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.about h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}

.about p{
    line-height: 1.5;
    width: 70%;
}

#contact {
    color: #003d52;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.maps {
    margin-top: 30px;
    background-position: right bottom;
}

.rodape{
	color: white;
	font-size: 14px;
	text-align: center;
	text-shadow: 2px 2px 2px rgb(15, 31, 65);
    margin-top: 30px;
	background-color: rgb(3, 34, 48);
    line-height: 60px;
}




